<!DOCTYPE html>
<html lang="fr">
<head>
    {% for meta in metas %}
        <meta charset="utf-8">
        <meta name="copyright" content="Spacewich">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
              content="{{ meta.description }}">
        <meta name="robots" content="index, follow">
        <meta property="og:title" content="{{ meta.ogtitle }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ meta.ogurl }}">
        <meta property="og:image" content="{{ meta.ogimage }}">
        <meta property="og:description" content="{{ meta.ogdescription }}">
        <title>{{ meta.title }}</title>
    {% endfor %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <img class="brandlogo" src="{{ asset('/img/logotypo.png') }}" alt="">
            <button class="nav-toggle">
                <i class="fas fa-2x fa-bars"></i>
            </button>
            <div class="nav-cat">
                <ul>
                    <span id="separator"></span> 
                    <div class="professional"><li><a href="{{ path('landing') }}">Accueil</a></li></div>
                    <div class="educational"><li><a href="{{ path('meta_index') }}">Gérer les métas</a></li></div>    
                    <div class="personal"><li><a href="{{ path('article_index') }}">Gérer les articles</a></li></div>
                </ul>
            </div>
        </nav>
    </header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</footer>
</body>
</html>
