{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Gestion des Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Excerpt</th>
                <th>Content</th>
                <th>Url</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.excerpt }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.url }}</td>
                <td>{{ article.price }}</td>
                <td>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="button-link">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}" class="button-link">Créer un nouvel article</a>

    <a href="{{ path('landing') }}" class="button-link">Retour à l'accueil</a>
{% endblock %}
