{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <section class="article-container">
        <img src="{{ product.url }}" alt="{{ product.title }}" class="product-image">
        <article class="landing-article product-desc">
            <p>
                {{ product.content }}
            </p>
            <div class="row article-command product-command">
                <span>{{ product.price }} €</span>
                <a href="{{ path('landing') }}" class="button-link">Retour</a>                
            </div>

        </article>
    </section>
{% endblock %}

